.container h1 {
  margin-top: 5rem;
  color: #233544;
  text-align: center;
  font-size: 45px;
}

.underline {
  border-bottom: 5px solid #2caeba;
}

.content {
  margin-top: 4rem;
  margin-left: 15rem;
  margin-right: 8rem;
  display: flex;
  /* justify-content: space-around; */
}

.names h2{
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-left: 5px solid #F1F5F8;
  font-weight: 100;
}

.names h2:hover{
  color: red;
  cursor: pointer;
  border-left: 5px solid red;
}

.position {
  font-size:25px;
  margin-left: 5rem;
  font-weight: 100;

}

.position p{
  color: #617D98;
  background: #DAE2EC;
}
